.main {
  /*
  padding: 5px;
  */
  border-bottom: 3px ridge black;
  border-right: 3px ridge black;
  border-top: 3px ridge white;
  border-left: 3px ridge white;
  width: 98%;
  height: 30px;
  background: linear-gradient(#e3e3e3, #dc70ad); /*#b1b1b1*/
  background: #e3e3e3;
  position: fixed;
  bottom: 0;
}

.tasks {
  position: absolute;
  left: 115px;
  bottom: 3px;
  border-top: 2px ridge black;
  border-left: 2px ridge black;

  border-bottom: 2px ridge white;
  border-right: 2px ridge white;
  width:4%;
  height: 3%;
  text-align: center;
}

button {
  display: flex;
  background-color: #e3e3e3;
  border-top: 1mm ridge #e3e3e3;
  border-left: 1mm ridge #e3e3e3;
}


button .text-start{
  position: relative;
  top: 5px;
  font-size: small;
  font-weight:bold;
}

button:active {
  /*border: dashed 1px;*/
  border-bottom: 3px ridge white;
  border-right: 3px ridge white;
  border-top: 3px ridge black;
  border-left: 3px ridge black;
  position: fixed;
  bottom: 3px;
  left: 10px;
}

.vl {
  border-left: 1px ridge black;
  position: absolute;
  left: 85px;
  height: 25px;
  bottom: 3px;
}

.vl2 {
  border-left: 2px ridge black;
  position: absolute;
  left: 90px;
  height: 20px;
  bottom: 5px;
}