.main {
  /*
  padding: 5px;
  */
  border-bottom: 3px ridge black;
  border-right: 3px ridge black;
  border-top: 3px ridge white;
  border-left: 3px ridge white;
  width: 98%;
  height: 30px;
  background: linear-gradient(#e3e3e3, #dc70ad); /*#b1b1b1*/
  background: #b1b1b1;
  position: fixed;
  bottom: 0;
}

button {
  display: flex;
  background-color: #b1b1b1;
  border-top: 1mm ridge #e3e3e3;
  border-left: 1mm ridge #e3e3e3;
}


button .text-start{
  position: relative;
  top: 5px;
  font-size: small;
  font-weight:bold;
}

button:active {
  /*border: dashed 1px;*/
  border-bottom: 3px ridge white;
  border-right: 3px ridge white;
  border-top: 3px ridge black;
  border-left: 3px ridge black;
  position: fixed;
  bottom: 3px;
  left: 10px;
}

