<main class="main">
  <div class="content">
    <section><img src="/assets/icons/directory_open_cool-5.png" alt="empty directory icon"/> <div class = "text-menu"><u>D</u>ocuments</div></section>
    <section><img src="/assets/icons/directory_open_file_mydocs_2k-0.png" alt="directory with open file icon"/><div class = "text-menu">F<u>a</u>vorites</div></section>
    <hr/>
    <section><img src="/assets/icons/msn3-5.png" alt="MSN icon"/><div class = "text-menu">Social</div></section>
    <section><img src="/assets/icons/search_file_2-3.png" alt="MSN icon"/><div class = "text-menu">Search</div></section>
    <section><img src="/assets/icons/notepad-1.png" alt="MSN icon"/><div class = "text-menu">Notepad</div></section>
    <section (click)="togglePaint()"><img src="/assets/icons/paint_file-2.png" alt="MSN icon"/><div class = "text-menu">Paint</div></section>
    <section><img src="/assets/icons/msie2-1.png" alt="MSN icon"/><div class = "text-menu">Internet</div></section>
    <section><img src="/assets/icons/help_book_small-3.png" alt="MSN icon"/><div class = "text-menu">About</div></section>
  </div>
  <div class="side"><span class="side-text">binsh</span></div>
</main>
