<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
</main>


<router-outlet/>
<start (menuEvent)="showMenu()" [tasks]=activeTasks></start>
<div *ngIf="menuIsShown">
  <menu (paintEvent)="showPaint()"></menu>
</div>

<div *ngIf="paintIsShown">
  <paint (paintClosed)= "closeWindow('paint')"></paint>
</div>
