
.interface {
  width: 800px;
  border-bottom: 3px ridge black;
  border-right: 3px ridge black;
  border-top: 3px ridge white;
  border-left: 3px ridge white;
}


.paint_header {
  position: relative;
  top: 25px;
  width: 800px;
  background: linear-gradient(0.25turn, #15157a, #0022ff, #15157a, #15157a, #15157a, #15157a, #15157a);

}

.paint_header .paint_header_text {
  font-family: "Arial Black";
  font-weight: bolder;
  color: white;
}
