/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'police';
  src: url('../public/assets/font/ms-sans-serif-1.ttf');
}

* {
  font-family: "police";
  text-align: start;
  font-size: medium;
}

body {
  background-color: #ff98b7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
