/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'police';
  src: url('../public/assets/font/ms-sans-serif-1.ttf');
}

* {
  font-family: "police";
  text-align: start;
}
